In [4]:
import psycopg2
import pandas as pd

db_host = "35.239.114.35"
db_name = "test-data-mining"
db_user = "test-data-mining"
db_password = "test-data-mining-lax-2022"

conn = psycopg2.connect(
    host=db_host,
    dbname=db_name,
    user=db_user,
    password=db_password
)

cur  = conn.cursor()

cur.execute("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'")

# Obtener los resultados y mostrar las tablas disponibles
tables = cur.fetchall()
print("Tablas disponibles:")
for table in tables:
    print(table[0])

tabla = "mineria_almacen"
cur.execute(f"SELECT * FROM {tabla}")
resultados_mineria_almacen = cur.fetchall()
columnas = [desc[0] for desc in cur.description]
df_mineria_almacen = pd.DataFrame(resultados_mineria_almacen, columns=columnas)

tabla = "mineria_producto"
cur.execute(f"SELECT * FROM {tabla}")
resultados_mineria_producto = cur.fetchall()
columnas = [desc[0] for desc in cur.description]
df_mineria_producto = pd.DataFrame(resultados_mineria_producto, columns=columnas)

tabla = "mineria_venta"
cur.execute(f"SELECT * FROM {tabla}")
resultados_mineria_venta = cur.fetchall()
columnas = [desc[0] for desc in cur.description]
df_mineria_venta = pd.DataFrame(resultados_mineria_venta, columns=columnas)

tabla = "mineria_resultado_campanas"
cur.execute(f"SELECT * FROM {tabla}")
resultados_mineria_resultado_campanas = cur.fetchall()
columnas = [desc[0] for desc in cur.description]
df_mineria_resultado_campanas = pd.DataFrame(resultados_mineria_resultado_campanas, columns=columnas)

cur.close()
conn.close()

Tablas disponibles:
mineria_almacen
mineria_producto
mineria_resultado_campanas
mineria_cliente_original
vm_datamart_datalovers
prueba_cs
prueba_cs1
prueba_cs2
mineria_venta

In [3]:
import requests
import pandas as pd
import io
url = "https://v1-api.lax.marketing/api/blacklist/downloadFile"

payload={}
headers = {
  'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZFVzZXIiOjg5LCJpZENvbXBhbnkiOjQzLCJyb2xVc2VyIjoyLCJpYXQiOjE2ODIwODM2NDN9.HvKEkVpeSmC3xnfq9HFzpT2usSewnTfBDkOVNMQ2k9Q'
}
response = requests.request("GET", url, headers=headers, data=payload)
df_blacklist = pd.read_csv(io.StringIO(response.content.decode('utf-8')),sep=';')

In [ ]:
df_mineria_producto.head()

,id,genero,personaje,marca,marca_unificada,silueta,sublinea_exito,tipo_de_prenda,prenda,mes_coleccion,...,licencia,id_referencia,talla_orden,color,mundo,talla,cod_color,descripcion,grupo,referencia
0,1,NI�O,RATATOUILLE,MIC,NO APLICA,MC/PL,NI�O PIJAMAS,PIJAMA,NO APLICA,ENERO,...,NO LICENCIA,113346,None,NO APLICA,NO APLICA,None,None,PIJAMA MC PL NI�O RATATOUILLE,TEXTIL,185886
1,2,DAMA,LOONEY TUNES,MOVIES,NO APLICA,BATOLA,DAMA PIJAMAS,PIJAMA,NO APLICA,ABRIL,...,CPL,128189,None,NO APLICA,NO APLICA,None,None,BATOLA LOONEY TAZ,TEXTIL,73708
2,3,NI�O,RATATOUILLE,MIC,NO APLICA,MC/PL,NI�O PIJAMAS,PIJAMA,NO APLICA,ENERO,...,NO LICENCIA,113345,None,NO APLICA,NO APLICA,None,None,PIJAMA MC PL NI�O RATATOUILLE,TEXTIL,185885
3,4,DAMA,LOONEY TUNES,MOVIES,NO APLICA,BATOLA,DAMA PIJAMAS,PIJAMA,NO APLICA,ABRIL,...,CPL,128191,None,NO APLICA,NO APLICA,None,None,BATOLA LOONEY PIOLIN,TEXTIL,73710
4,5,DAMA,BABY LONEY,MOVIES,NO APLICA,BATOLA,DAMA PIJAMAS,PIJAMA,NO APLICA,ABRIL,...,NO LICENCIA,128188,None,NO APLICA,NO APLICA,None,None,BATOLA LOONEY GATO,TEXTIL,73707

In [ ]:
df_mineria_venta.id_referencia.head()

0    56219
1    73095
2    80932
3    66913
4    70498
Name: id_referencia, dtype: object

In [2]:
import pandas as pd

df_mineria_ventas_csv=pd.read_csv('app/resources/mineria_venta.csv',sep=';')
df_mineria_resultado_campanas_csv=pd.read_csv('app/resources/mineria_resultado_campanas.csv',sep=';')

C:\Users\jpmva\AppData\Local\Temp\ipykernel_41568\317548060.py:3: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_mineria_ventas_csv=pd.read_csv('app/resources/mineria_venta.csv',sep=';')
C:\Users\jpmva\AppData\Local\Temp\ipykernel_41568\317548060.py:4: DtypeWarning: Columns (1,12,13,14,15,16,17,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_mineria_resultado_campanas_csv=pd.read_csv('app/resources/mineria_resultado_campanas.csv',sep=';')

In [ ]:
df_mineria_venta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048327 entries, 0 to 1048326
Data columns (total 29 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   id_factura                  1048327 non-null  object
 1   fecha_larga                 1048020 non-null  object
 2   id_pdv                      1048327 non-null  int64
 3   id_cliente                  1048327 non-null  object
 4   numero_factura              1048327 non-null  object
 5   unidades                    1048320 non-null  float64
 6   porcentaje_descuento        1024637 non-null  object
 7   precio_full                 1048160 non-null  float64
 8   porcentaje_iva              1048327 non-null  object
 9   precio_antes_iva            1048327 non-null  int64
 10  precio_con_iva              1048151 non-null  float64
 11  formas_de_pago              880401 non-null   object
 12  id_referencia               1048327 non-null  object
 13  promocion                   1048327 non-null  object
 14  habeas_data_venta           1048327 non-null  object
 15  valor_descuento             1024637 non-null  object
 16  costo_total                 1048327 non-null  object
 17  costo_unitario              1048327 non-null  object
 18  id_vendedor                 1048327 non-null  object
 19  estado_id_venta             1048327 non-null  object
 20  estado_celular_venta        1048327 non-null  object
 21  estado_email_venta          1048327 non-null  object
 22  fecha                       1048327 non-null  object
 23  consecutivo_trx             1048327 non-null  object
 24  captura_de_datos_cel        1048327 non-null  object
 25  captura_de_datos_celcorreo  1048327 non-null  object
 26  captura_de_datos_completo   1048327 non-null  object
 27  rango_ticket                1048327 non-null  object
 28  ticket                      1048327 non-null  object
dtypes: float64(3), int64(2), object(24)
memory usage: 231.9+ MB

In [ ]:
df_mineria_venta.columns.to_list()

['id_factura',
 'fecha_larga',
 'id_pdv',
 'id_cliente',
 'numero_factura',
 'unidades',
 'porcentaje_descuento',
 'precio_full',
 'porcentaje_iva',
 'precio_antes_iva',
 'precio_con_iva',
 'formas_de_pago',
 'id_referencia',
 'promocion',
 'habeas_data_venta',
 'valor_descuento',
 'costo_total',
 'costo_unitario',
 'id_vendedor',
 'estado_id_venta',
 'estado_celular_venta',
 'estado_email_venta',
 'fecha',
 'consecutivo_trx',
 'captura_de_datos_cel',
 'captura_de_datos_celcorreo',
 'captura_de_datos_completo',
 'rango_ticket',
 'ticket']

In [ ]:
df_mineria_venta.id_cliente.nunique()

250209

In [ ]:
df_mineria_venta.id_cliente.nunique()

In [ ]:
df_mineria_venta.estado_celular_venta.value_counts()

estado_celular_venta
SI    892712
NO    155615
Name: count, dtype: int64

In [ ]:
df_mineria_venta.estado_email_venta.value_counts()

estado_email_venta
SI    864652
NO    183675
Name: count, dtype: int64

In [ ]:
df_mineria_venta.groupby(['estado_email_venta', 'estado_celular_venta','habeas_data_venta'])['id_cliente'].nunique().reset_index().rename(columns={'id_cliente':'total clientes'})

   estado_email_venta estado_celular_venta habeas_data_venta  total clientes
0                  NO                   NO                NO            6864
1                  NO                   NO                SI            1232
2                  NO                   NO    SIN ACTUALIZAR            2650
3                  NO                   SI                NO           19605
4                  NO                   SI                SI           20146
5                  NO                   SI    SIN ACTUALIZAR           11401
6                  SI                   NO                NO            1560
7                  SI                   NO                SI           23403
8                  SI                   NO    SIN ACTUALIZAR            3872
9                  SI                   SI                NO           20259
10                 SI                   SI                SI          130108
11                 SI                   SI    SIN ACTUALIZAR           49525

In [ ]:
df_mineria_venta.promocion.value_counts()

promocion
SIN PROMOCIÓN                                                                                                                                    503000
LA SEGUNDA CON EL 50%  ICONIKAS ESTELAR MIC;                                                                                                      56137
DESCUENTO DEL 50% OUTLETS-ESTELARES  MIC;                                                                                                         47185
ESCALA DE DESCUENTO OUTLET MIC;                                                                                                                   38630
DESCUENTO DEL 30% OUTLETS-ESTELARES MIC;                                                                                                          23615
                                                                                                                                                  ...
NUEVO15, NUEVO15, NUEVO15, NUEVO15, NUEVO15, NUEVO15, NUEVO15, NUEVO15, NUEVO15, NUEVO15, NUEVO15, NUEVO15                                            1
DESCUENTO DEL 25% CALZADO MIC (TERMINO)                                                                                                               1
bono4854a, bono4854a, bono4854a, bono4854a, bono4854a, bono4854a, bono4854a, bono4854a, bono4854a, bono4854a, bono4854a, bono4854a, bono4854a         1
SEGMENTADO TEST 20% MIC Y MOVIES;                                                                                                                     1
DIA SIN IVA INTERIOR MIC; ESCALA DE DESCUENTO OUTLET MIC; SEGUNDA CON EL 50% INTERIOR MIC;                                                            1
Name: count, Length: 940, dtype: int64

In [ ]:
df_mineria_venta.promocion.nunique()

940

In [ ]:
df_mineria_resultado_campanas.nombre_campana.value_counts()

nombre_campana
REFUERZO BONO RECOMPRA SEPTIEMBRE     101730
LANZAMIENTO WEB LITTLE MIC             76291
BONO RECOMPRA SEPTIEMBRE               70682
WARNER BY LITTLE                       63938
CYBER DAYS                             59607
                                       ...
SPIDER MAN AND HIS AMAZING FRIENDS         1
LITTLE NUEVOS WEB                          1
LITTLE TODA LA TIENDA 30% OFF              1
LITTLE: NUEVOS                             1
LITTLE WEB SALE                            1
Name: count, Length: 353, dtype: int64

In [1]:
import pandas as pd

import pandas_gbq

# Load the credentials for authenticating with BigQuery


# Define the DataFrame you want to upload
df = pd.DataFrame({
    'col1': [1, 2, 3],
    'col2': ['A', 'B', 'C']
})

# Define the BigQuery table name and project ID
table_id = 'customer-experience-384423.Data_cruda.prueba'

# Upload the DataFrame to BigQuery
pandas_gbq.to_gbq(df, table_id, project_id='customer-experience-384423', if_exists='replace')

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=725825577420-unm2gnkiprugilg743tkbig250f4sfsj.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fbigquery&state=NvOjyNBo0w8KpRyxtkf9PTKrkcCWip&access_type=offline

In [5]:
table_id = 'customer-experience-384423.Data_cruda.blacklist'
pandas_gbq.to_gbq(df_blacklist.astype('string'), table_id, project_id='customer-experience-384423', if_exists='replace')

In [6]:
import pandas as pd
import psycopg2
import requests
import io
import pandas_gbq


def full_extraction():
    db_host = "35.239.114.35"
    db_name = "test-data-mining"
    db_user = "test-data-mining"
    db_password = "test-data-mining-lax-2022"

    conn = psycopg2.connect(
        host=db_host,
        dbname=db_name,
        user=db_user,
        password=db_password
    )

    cur  = conn.cursor()

    tabla = "mineria_almacen"
    cur.execute(f"SELECT * FROM {tabla}")
    resultados_mineria_almacen = cur.fetchall()
    columnas = [desc[0] for desc in cur.description]
    df_mineria_almacen = pd.DataFrame(resultados_mineria_almacen, columns=columnas)

    tabla = "mineria_producto"
    cur.execute(f"SELECT * FROM {tabla}")
    resultados_mineria_producto = cur.fetchall()
    columnas = [desc[0] for desc in cur.description]
    df_mineria_producto = pd.DataFrame(resultados_mineria_producto, columns=columnas)

    # tabla = "mineria_venta"
    # cur.execute(f"SELECT * FROM {tabla}")
    # resultados_mineria_venta = cur.fetchall()
    # columnas = [desc[0] for desc in cur.description]
    # df_mineria_venta = pd.DataFrame(resultados_mineria_venta, columns=columnas)

    # tabla = "mineria_resultado_campanas"
    # cur.execute(f"SELECT * FROM {tabla}")
    # resultados_mineria_resultado_campanas = cur.fetchall()
    # columnas = [desc[0] for desc in cur.description]
    # df_mineria_resultado_campanas = pd.DataFrame(resultados_mineria_resultado_campanas, columns=columnas)

    cur.close()
    conn.close()
    url = "https://v1-api.lax.marketing/api/blacklist/downloadFile"

    payload={}
    headers = {
    'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZFVzZXIiOjg5LCJpZENvbXBhbnkiOjQzLCJyb2xVc2VyIjoyLCJpYXQiOjE2ODIwODM2NDN9.HvKEkVpeSmC3xnfq9HFzpT2usSewnTfBDkOVNMQ2k9Q'
    }
    response = requests.request("GET", url, headers=headers, data=payload)
    df_blacklist = pd.read_csv(io.StringIO(response.content.decode('utf-8')),sep=';')
    
    df_mineria_ventas_csv=pd.read_csv('app/resources/mineria_venta.csv',sep=';')
    df_mineria_resultado_campanas_csv=pd.read_csv('app/resources/mineria_resultado_campanas.csv',sep=';')
    return df_mineria_almacen,df_mineria_producto,df_blacklist,df_mineria_ventas_csv,df_mineria_resultado_campanas_csv
df_mineria_almacen,df_mineria_producto,df_blacklist,df_mineria_ventas_csv,df_mineria_resultado_campanas_csv= full_extraction()

C:\Users\jpmva\AppData\Local\Temp\ipykernel_41568\117347412.py:58: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_mineria_ventas_csv=pd.read_csv('app/resources/mineria_venta.csv',sep=';')
C:\Users\jpmva\AppData\Local\Temp\ipykernel_41568\117347412.py:59: DtypeWarning: Columns (1,12,13,14,15,16,17,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_mineria_resultado_campanas_csv=pd.read_csv('app/resources/mineria_resultado_campanas.csv',sep=';')

In [8]:
table_id_blacklist = 'customer-experience-384423.Data_cruda.blacklist'
table_id_mineria_ventas_csv = 'customer-experience-384423.Data_cruda.mineria_venta'
table_id_mineria_resultado_campanas_csv = 'customer-experience-384423.Data_cruda.mineria_resultado_campanas'
table_id_mineria_producto = 'customer-experience-384423.Data_cruda.mineria_producto'
table_id_mineria_almacen= 'customer-experience-384423.Data_cruda.mineria_almacen'
print('1')
pandas_gbq.to_gbq(df_blacklist.astype('string'), table_id_blacklist, project_id='customer-experience-384423', if_exists='replace')
print('1')
pandas_gbq.to_gbq(df_mineria_ventas_csv.astype('string'), table_id_mineria_ventas_csv, project_id='customer-experience-384423', if_exists='replace')
print('1')
pandas_gbq.to_gbq(df_mineria_resultado_campanas_csv.astype('string'), table_id_mineria_resultado_campanas_csv, project_id='customer-experience-384423', if_exists='replace')
print('1')
pandas_gbq.to_gbq(df_mineria_producto.astype('string'), table_id_mineria_producto, project_id='customer-experience-384423', if_exists='replace')
print('1')
pandas_gbq.to_gbq(df_mineria_almacen.astype('string'), table_id_mineria_almacen, project_id='customer-experience-384423', if_exists='replace')

1
1
1
1
1