In [32]:
import psycopg2
import pandas as pd
import pandas_gbq
import requests
import io
db_host = "35.239.114.35"
db_name = "test-data-mining"
db_user = "test-data-mining"
db_password = "test-data-mining-lax-2022"

conn = psycopg2.connect(
    host=db_host,
    dbname=db_name,
    user=db_user,
    password=db_password,
    client_encoding='utf-8'
)

cur  = conn.cursor()

cur.execute("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'")

# Obtener los resultados y mostrar las tablas disponibles
tables = cur.fetchall()
print("Tablas disponibles:")
for table in tables:
    print(table[0])

tabla = "mineria_almacen"
cur.execute(f"SELECT * FROM {tabla}")
resultados_mineria_almacen = cur.fetchall()
columnas = [desc[0] for desc in cur.description]
df_mineria_almacen = pd.DataFrame(resultados_mineria_almacen, columns=columnas)
df_mineria_almacen=df_mineria_almacen.replace("�", "Ñ", regex=True)

tabla = "mineria_producto"
cur.execute(f"SELECT * FROM {tabla}")
resultados_mineria_producto = cur.fetchall()
columnas = [desc[0] for desc in cur.description]
df_mineria_producto = pd.DataFrame(resultados_mineria_producto, columns=columnas)
df_mineria_producto=df_mineria_producto.replace("�", "Ñ", regex=True)

tabla = "mineria_venta"
cur.execute(f"SELECT * FROM {tabla}")
resultados_mineria_venta = cur.fetchall()
columnas = [desc[0] for desc in cur.description]
df_mineria_venta = pd.DataFrame(resultados_mineria_venta, columns=columnas)
df_mineria_venta=df_mineria_venta.replace("�", "Ñ", regex=True)

tabla = "mineria_resultado_campanas"
cur.execute(f"SELECT * FROM {tabla}")
resultados_mineria_resultado_campanas = cur.fetchall()
columnas = [desc[0] for desc in cur.description]
df_mineria_resultado_campanas = pd.DataFrame(resultados_mineria_resultado_campanas, columns=columnas)
df_mineria_resultado_campanas=df_mineria_resultado_campanas.replace("�", "Ñ", regex=True)


df_mineria_ventas_csv=pd.read_csv('app/resources/mineria_venta.csv',sep=';')
df_mineria_ventas_csv=df_mineria_ventas_csv.replace("�", "Ñ", regex=True)

df_mineria_resultado_campanas_csv=pd.read_csv('app/resources/mineria_resultado_campanas.csv',sep=';')
df_mineria_resultado_campanas_csv=df_mineria_resultado_campanas_csv.replace("�", "Ñ", regex=True)

url = "https://v1-api.lax.marketing/api/blacklist/downloadFile"

payload={}
headers = {
'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZFVzZXIiOjg5LCJpZENvbXBhbnkiOjQzLCJyb2xVc2VyIjoyLCJpYXQiOjE2ODIwODM2NDN9.HvKEkVpeSmC3xnfq9HFzpT2usSewnTfBDkOVNMQ2k9Q'
}
response = requests.request("GET", url, headers=headers, data=payload)
df_blacklist = pd.read_csv(io.StringIO(response.content.decode('utf-8')),sep=';')
df_blacklist=df_blacklist.replace("�", "Ñ", regex=True)



cur.close()
conn.close()

Tablas disponibles:
mineria_almacen
mineria_producto
mineria_resultado_campanas
mineria_cliente_original
vm_datamart_datalovers
prueba_cs
prueba_cs1
prueba_cs2
mineria_venta

C:\Users\jpmva\AppData\Local\Temp\ipykernel_30964\1920198454.py:58: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_mineria_ventas_csv=pd.read_csv('app/resources/mineria_venta.csv',sep=';')
C:\Users\jpmva\AppData\Local\Temp\ipykernel_30964\1920198454.py:61: DtypeWarning: Columns (1,12,13,14,15,16,17,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_mineria_resultado_campanas_csv=pd.read_csv('app/resources/mineria_resultado_campanas.csv',sep=';')

In [33]:
table_id_blacklist = 'customer-experience-384423.Data_cruda.blacklist'
table_id_mineria_ventas_csv = 'customer-experience-384423.Data_cruda.mineria_venta'
table_id_mineria_resultado_campanas_csv = 'customer-experience-384423.Data_cruda.mineria_resultado_campanas'
table_id_mineria_producto = 'customer-experience-384423.Data_cruda.mineria_producto'
table_id_mineria_almacen= 'customer-experience-384423.Data_cruda.mineria_almacen'

pandas_gbq.to_gbq(df_blacklist.astype('string'), table_id_blacklist, project_id='customer-experience-384423', if_exists='replace')
pandas_gbq.to_gbq(df_mineria_ventas_csv.astype('string'), table_id_mineria_ventas_csv, project_id='customer-experience-384423', if_exists='replace')
pandas_gbq.to_gbq(df_mineria_resultado_campanas_csv.astype('string'), table_id_mineria_resultado_campanas_csv, project_id='customer-experience-384423', if_exists='replace')
pandas_gbq.to_gbq(df_mineria_producto.astype('string'), table_id_mineria_producto, project_id='customer-experience-384423', if_exists='replace')
pandas_gbq.to_gbq(df_mineria_almacen.astype('string'), table_id_mineria_almacen, project_id='customer-experience-384423', if_exists='replace')

In [29]:
df_mineria_producto.replace("�", "Ñ", regex=True)

,id,genero,personaje,marca,marca_unificada,silueta,sublinea_exito,tipo_de_prenda,prenda,mes_coleccion,...,licencia,id_referencia,talla_orden,color,mundo,talla,cod_color,descripcion,grupo,referencia
0,1,NIÑO,RATATOUILLE,MIC,NO APLICA,MC/PL,NIÑO PIJAMAS,PIJAMA,NO APLICA,ENERO,...,NO LICENCIA,113346,None,NO APLICA,NO APLICA,None,None,PIJAMA MC PL NIÑO RATATOUILLE,TEXTIL,185886
1,2,DAMA,LOONEY TUNES,MOVIES,NO APLICA,BATOLA,DAMA PIJAMAS,PIJAMA,NO APLICA,ABRIL,...,CPL,128189,None,NO APLICA,NO APLICA,None,None,BATOLA LOONEY TAZ,TEXTIL,73708
2,3,NIÑO,RATATOUILLE,MIC,NO APLICA,MC/PL,NIÑO PIJAMAS,PIJAMA,NO APLICA,ENERO,...,NO LICENCIA,113345,None,NO APLICA,NO APLICA,None,None,PIJAMA MC PL NIÑO RATATOUILLE,TEXTIL,185885
3,4,DAMA,LOONEY TUNES,MOVIES,NO APLICA,BATOLA,DAMA PIJAMAS,PIJAMA,NO APLICA,ABRIL,...,CPL,128191,None,NO APLICA,NO APLICA,None,None,BATOLA LOONEY PIOLIN,TEXTIL,73710
4,5,DAMA,BABY LONEY,MOVIES,NO APLICA,BATOLA,DAMA PIJAMAS,PIJAMA,NO APLICA,ABRIL,...,NO LICENCIA,128188,None,NO APLICA,NO APLICA,None,None,BATOLA LOONEY GATO,TEXTIL,73707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122612,122613,HOMBRE,RICK AND MORTY,MOVIES,NO APLICA,MC,HOMBRE EXTERIOR,CAMISETA,SUPERIOR,MARZO,...,TURNER,47924,None,NO APLICA,NO APLICA,NA,NA,CAMISETA HOMBRE RICK AND MORTY,TEXTIL,229707
122613,122614,HOMBRE,MICKEY,MOVIES,NO APLICA,MC,HOMBRE EXTERIOR,CAMISETA,SUPERIOR,NOVIEMBRE,...,DISNEY,47967,None,NO APLICA,NO APLICA,NA,NA,CAMISETA HOMBRE DISNEY,TEXTIL,230259
122614,122615,HOMBRE,MOVIES,MOVIES,NO APLICA,MC,HOMBRE EXTERIOR,CAMISETA,SUPERIOR,AGOSTO,...,MOVIES,47864,None,NO APLICA,NO APLICA,NA,NA,CAMISETA MC HOMBRE MOVIES,TEXTIL,229907
122615,122616,NIÑA,FROZEN,MIC,NO APLICA,LONCHERA,NO APLICA,LONCHERA,FIRME,NOVIEMBRE,...,DISNEY,75779,None,NO APLICA,NO APLICA,NA,NA,LONCHERA PERSONAJES NIÑA DISNEY FROZEN,MORRALES Y OTROS,93114716
122616,122617,NIÑA,FROZEN,MIC,NO APLICA,MORRAL CON RUEDAS,NO APLICA,MALETA CON RUEDAS,CONSIGNACIÑN,NOVIEMBRE,...,DISNEY,75693,None,NO APLICA,NO APLICA,NA,NA,"MORRAL 16,5"" TROLLY FROZEN",MORRALES Y OTROS,93114708

In [13]:
df_mineria_producto.astype('string').head()

,id,genero,personaje,marca,marca_unificada,silueta,sublinea_exito,tipo_de_prenda,prenda,mes_coleccion,...,licencia,id_referencia,talla_orden,color,mundo,talla,cod_color,descripcion,grupo,referencia
0,1,NI�O,RATATOUILLE,MIC,NO APLICA,MC/PL,NI�O PIJAMAS,PIJAMA,NO APLICA,ENERO,...,NO LICENCIA,113346,<NA>,NO APLICA,NO APLICA,<NA>,<NA>,PIJAMA MC PL NI�O RATATOUILLE,TEXTIL,185886
1,2,DAMA,LOONEY TUNES,MOVIES,NO APLICA,BATOLA,DAMA PIJAMAS,PIJAMA,NO APLICA,ABRIL,...,CPL,128189,<NA>,NO APLICA,NO APLICA,<NA>,<NA>,BATOLA LOONEY TAZ,TEXTIL,73708
2,3,NI�O,RATATOUILLE,MIC,NO APLICA,MC/PL,NI�O PIJAMAS,PIJAMA,NO APLICA,ENERO,...,NO LICENCIA,113345,<NA>,NO APLICA,NO APLICA,<NA>,<NA>,PIJAMA MC PL NI�O RATATOUILLE,TEXTIL,185885
3,4,DAMA,LOONEY TUNES,MOVIES,NO APLICA,BATOLA,DAMA PIJAMAS,PIJAMA,NO APLICA,ABRIL,...,CPL,128191,<NA>,NO APLICA,NO APLICA,<NA>,<NA>,BATOLA LOONEY PIOLIN,TEXTIL,73710
4,5,DAMA,BABY LONEY,MOVIES,NO APLICA,BATOLA,DAMA PIJAMAS,PIJAMA,NO APLICA,ABRIL,...,NO LICENCIA,128188,<NA>,NO APLICA,NO APLICA,<NA>,<NA>,BATOLA LOONEY GATO,TEXTIL,73707

In [20]:
import pandas_gbq
table_id_mineria_producto = 'customer-experience-384423.Data_cruda.mineria_producto'
pandas_gbq.to_gbq(df_mineria_producto.astype('string'), table_id_mineria_producto, project_id='customer-experience-384423', if_exists='replace')

In [21]:
df_mineria_producto.genero.isna().sum()

1399

In [ ]:
df

In [2]:
df_mineria_resultado_campanas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3899563 entries, 0 to 3899562
Data columns (total 27 columns):
 #   Column                  Dtype
---  ------                  -----
 0   id_cliente              object
 1   key_movimiento          object
 2   codigo_campana          object
 3   codigo_campana_master   object
 4   estado                  object
 5   nombre_campana          object
 6   fecha_inicio            object
 7   fecha_fin               object
 8   campo_fecha             object
 9   variable_1              object
 10  detalle_variable        object
 11  filtro_general_1        object
 12  variable_2              object
 13  detalle_variable_2      object
 14  filtro_general_2        object
 15  variable_3              object
 16  detalle_variable_3      object
 17  filtro_general_3        object
 18  copi                    object
 19  cliente_contactado      object
 20  tipo_contacto           object
 21  rango_compra_historica  object
 22  rango_recencia          object
 23  rfm                     object
 24  rfm_segmento            object
 25  campana_efectiva_tipo   object
 26  mantener_campana        object
dtypes: object(27)
memory usage: 803.3+ MB

In [3]:
import pandas_gbq
table_id_mineria_ventas = 'customer-experience-384423.Data_cruda.test_ventas'
table_id_mineria_resultado_campanas= 'customer-experience-384423.Data_cruda.test_campanas'
pandas_gbq.to_gbq(df_mineria_venta.astype('string'), table_id_mineria_ventas, project_id='customer-experience-384423', if_exists='replace')
pandas_gbq.to_gbq(df_mineria_resultado_campanas.astype('string'), table_id_mineria_resultado_campanas, project_id='customer-experience-384423', if_exists='replace')

In [3]:
import requests
import pandas as pd
import io
url = "https://v1-api.lax.marketing/api/blacklist/downloadFile"

payload={}
headers = {
  'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZFVzZXIiOjg5LCJpZENvbXBhbnkiOjQzLCJyb2xVc2VyIjoyLCJpYXQiOjE2ODIwODM2NDN9.HvKEkVpeSmC3xnfq9HFzpT2usSewnTfBDkOVNMQ2k9Q'
}
response = requests.request("GET", url, headers=headers, data=payload)
df_blacklist = pd.read_csv(io.StringIO(response.content.decode('utf-8')),sep=';')

In [ ]:
df_mineria_producto.head()

,id,genero,personaje,marca,marca_unificada,silueta,sublinea_exito,tipo_de_prenda,prenda,mes_coleccion,...,licencia,id_referencia,talla_orden,color,mundo,talla,cod_color,descripcion,grupo,referencia
0,1,NI�O,RATATOUILLE,MIC,NO APLICA,MC/PL,NI�O PIJAMAS,PIJAMA,NO APLICA,ENERO,...,NO LICENCIA,113346,None,NO APLICA,NO APLICA,None,None,PIJAMA MC PL NI�O RATATOUILLE,TEXTIL,185886
1,2,DAMA,LOONEY TUNES,MOVIES,NO APLICA,BATOLA,DAMA PIJAMAS,PIJAMA,NO APLICA,ABRIL,...,CPL,128189,None,NO APLICA,NO APLICA,None,None,BATOLA LOONEY TAZ,TEXTIL,73708
2,3,NI�O,RATATOUILLE,MIC,NO APLICA,MC/PL,NI�O PIJAMAS,PIJAMA,NO APLICA,ENERO,...,NO LICENCIA,113345,None,NO APLICA,NO APLICA,None,None,PIJAMA MC PL NI�O RATATOUILLE,TEXTIL,185885
3,4,DAMA,LOONEY TUNES,MOVIES,NO APLICA,BATOLA,DAMA PIJAMAS,PIJAMA,NO APLICA,ABRIL,...,CPL,128191,None,NO APLICA,NO APLICA,None,None,BATOLA LOONEY PIOLIN,TEXTIL,73710
4,5,DAMA,BABY LONEY,MOVIES,NO APLICA,BATOLA,DAMA PIJAMAS,PIJAMA,NO APLICA,ABRIL,...,NO LICENCIA,128188,None,NO APLICA,NO APLICA,None,None,BATOLA LOONEY GATO,TEXTIL,73707

In [8]:
df_mineria_producto.personaje.isna().sum()

1399

In [ ]:
df_mineria_venta.id_referencia.head()

0    56219
1    73095
2    80932
3    66913
4    70498
Name: id_referencia, dtype: object

In [4]:
import pandas as pd

df_mineria_ventas_csv=pd.read_csv('app/resources/mineria_venta.csv',sep=';')
df_mineria_resultado_campanas_csv=pd.read_csv('app/resources/mineria_resultado_campanas.csv',sep=';')

C:\Users\jpmva\AppData\Local\Temp\ipykernel_24724\317548060.py:3: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_mineria_ventas_csv=pd.read_csv('app/resources/mineria_venta.csv',sep=';')
C:\Users\jpmva\AppData\Local\Temp\ipykernel_24724\317548060.py:4: DtypeWarning: Columns (1,12,13,14,15,16,17,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_mineria_resultado_campanas_csv=pd.read_csv('app/resources/mineria_resultado_campanas.csv',sep=';')

In [5]:
table_id_mineria_ventas_csv = 'customer-experience-384423.Data_cruda.mineria_venta'
pandas_gbq.to_gbq(df_mineria_ventas_csv.astype('string'), table_id_mineria_ventas_csv, project_id='customer-experience-384423', if_exists='replace')

In [9]:
import pandas_gbq
# df_mineria_ventas_csv.rename(columns={'ID FACTURA': 'id_factura',
#  'FECHA_LARGA': 'fecha_larga',
#  'ID_PDV': 'id_pdv',
#  'ID CLIENTE': 'id_cliente',
#  'NUMERO FACTURA': 'numero_factura',
#  'UNIDADES': 'unidades',
#  'PORCENTAJE DESCUENTO': 'porcentaje_descuento',
#  'PRECIO FULL': 'precio_full',
#  'PORCENTAJE IVA': 'porcentaje_iva',
#  'PRECIO ANTES IVA': 'precio_antes_iva',
#  'PRECIO CON IVA': 'precio_con_iva',
#  'FORMAS DE PAGO': 'formas_de_pago',
#  'ID REFERENCIA': 'id_referencia',
#  'PROMOCION': 'promocion',
#  'HABEAS DATA VENTA': 'habeas_data_venta',
#  'VALOR DESCUENTO': 'valor_descuento',
#  'COSTO TOTAL': 'costo_total',
#  'COSTO UNITARIO': 'costo_unitario',
#  'ID_VENDEDOR': 'id_vendedor',
#  'ESTADO ID VENTA': 'estado_id_venta',
#  'ESTADO CELULAR VENTA': 'estado_celular_venta',
#  'ESTADO EMAIL VENTA': 'estado_email_venta',
#  'FECHA': 'fecha',
#  'CONSECUTIVO TRX': 'consecutivo_trx',
#  'CAPTURA DE DATOS CEL': 'captura_de_datos_cel',
#  'CAPTURA DE DATOS CEL+CORREO': 'captura_de_datos_celcorreo',
#  'CAPTURA DE DATOS COMPLETO': 'captura_de_datos_completo',
#  'RANGO TICKET': 'rango_ticket',
#  'TICKET': 'ticket'},inplace=True)
table_id_mineria_ventas_csv = 'customer-experience-384423.Data_cruda.mineria_venta'
pandas_gbq.to_gbq(df_mineria_ventas_csv.astype('string'), table_id_mineria_ventas_csv, project_id='customer-experience-384423', if_exists='replace')

In [12]:
df_mineria_resultado_campanas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3899563 entries, 0 to 3899562
Data columns (total 27 columns):
 #   Column                  Dtype
---  ------                  -----
 0   id_cliente              object
 1   key_movimiento          object
 2   codigo_campana          object
 3   codigo_campana_master   object
 4   estado                  object
 5   nombre_campana          object
 6   fecha_inicio            object
 7   fecha_fin               object
 8   campo_fecha             object
 9   variable_1              object
 10  detalle_variable        object
 11  filtro_general_1        object
 12  variable_2              object
 13  detalle_variable_2      object
 14  filtro_general_2        object
 15  variable_3              object
 16  detalle_variable_3      object
 17  filtro_general_3        object
 18  copi                    object
 19  cliente_contactado      object
 20  tipo_contacto           object
 21  rango_compra_historica  object
 22  rango_recencia          object
 23  rfm                     object
 24  rfm_segmento            object
 25  campana_efectiva_tipo   object
 26  mantener_campana        object
dtypes: object(27)
memory usage: 803.3+ MB

In [11]:
df_mineria_ventas_csv.astype('string').head()

,ID FACTURA,FECHA_LARGA,ID_PDV,ID CLIENTE,NUMERO FACTURA,UNIDADES,PORCENTAJE DESCUENTO,PRECIO FULL,PORCENTAJE IVA,PRECIO ANTES IVA,...,ESTADO ID VENTA,ESTADO CELULAR VENTA,ESTADO EMAIL VENTA,FECHA,CONSECUTIVO TRX,CAPTURA DE DATOS CEL,CAPTURA DE DATOS CEL+CORREO,CAPTURA DE DATOS COMPLETO,RANGO TICKET,TICKET
0,2018-497-275,43314,497,1,275,1.0,"0,00 %",$ 36.900,"1.900,00 %",$ 31.008,...,NO,NO,NO,43314,1,NO,NO,NO,< 70.000,31008.0
1,2019-482-9898,43684,482,1,9898,1.0,"0,00 %",$ 36.900,"1.900,00 %",$ 31.008,...,NO,NO,NO,43684,4,NO,NO,NO,>=70.000 < 200.000,119100.0
2,2019-482-9898,43684,482,1,9898,1.0,"0,00 %",$ 69.900,"1.900,00 %",$ 58.739,...,NO,NO,NO,43684,2,NO,NO,NO,>=70.000 < 200.000,119100.0
3,2019-482-9898,43684,482,1,9898,1.0,"30,00 %",$ 49.900,"1.900,00 %",$ 29.353,...,NO,NO,NO,43684,2,NO,NO,NO,>=70.000 < 200.000,119100.0
4,2019-482-564,43684,482,1,564,-1.0,"0,00 %",$ 39.900,"1.900,00 %",-$ 33.529,...,NO,NO,NO,43684,3,NO,NO,NO,< 70.000,-92268.0

In [6]:
df_mineria_resultado_campanas_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3899563 entries, 0 to 3899562
Data columns (total 27 columns):
 #   Column                  Dtype
---  ------                  -----
 0   ID CLIENTE              int64
 1   key_movimiento          object
 2   CODIGO CAMPAÑA          object
 3   Código campaña master   int64
 4   Estado                  int64
 5   Nombre Campaña          object
 6   Fecha Inicio            object
 7   Fecha Fin               object
 8   Campo Fecha             object
 9   Variable 1              object
 10  Detalle Variable        object
 11  Filtro general 1        object
 12  Variable 2              object
 13  Detalle Variable 2      object
 14  Filtro general 2        object
 15  Variable 3              object
 16  Detalle Variable 3      object
 17  Filtro general 3        object
 18  Copy                    object
 19  CLIENTE CONTACTADO      object
 20  TIPO CONTACTO           object
 21  RANGO COMPRA HISTÓRICA  object
 22  RANGO RECENCIA          object
 23  RFM                     object
 24  RFM SEGMENTO            object
 25  CAMPAÑA EFECTIVA TIPO   object
 26  MANTENER_CAMPAÑA        object
dtypes: int64(3), object(24)
memory usage: 803.3+ MB

In [ ]:
df_mineria_venta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048327 entries, 0 to 1048326
Data columns (total 29 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   id_factura                  1048327 non-null  object
 1   fecha_larga                 1048020 non-null  object
 2   id_pdv                      1048327 non-null  int64
 3   id_cliente                  1048327 non-null  object
 4   numero_factura              1048327 non-null  object
 5   unidades                    1048320 non-null  float64
 6   porcentaje_descuento        1024637 non-null  object
 7   precio_full                 1048160 non-null  float64
 8   porcentaje_iva              1048327 non-null  object
 9   precio_antes_iva            1048327 non-null  int64
 10  precio_con_iva              1048151 non-null  float64
 11  formas_de_pago              880401 non-null   object
 12  id_referencia               1048327 non-null  object
 13  promocion                   1048327 non-null  object
 14  habeas_data_venta           1048327 non-null  object
 15  valor_descuento             1024637 non-null  object
 16  costo_total                 1048327 non-null  object
 17  costo_unitario              1048327 non-null  object
 18  id_vendedor                 1048327 non-null  object
 19  estado_id_venta             1048327 non-null  object
 20  estado_celular_venta        1048327 non-null  object
 21  estado_email_venta          1048327 non-null  object
 22  fecha                       1048327 non-null  object
 23  consecutivo_trx             1048327 non-null  object
 24  captura_de_datos_cel        1048327 non-null  object
 25  captura_de_datos_celcorreo  1048327 non-null  object
 26  captura_de_datos_completo   1048327 non-null  object
 27  rango_ticket                1048327 non-null  object
 28  ticket                      1048327 non-null  object
dtypes: float64(3), int64(2), object(24)
memory usage: 231.9+ MB

In [ ]:
df_mineria_venta.columns.to_list()

['id_factura',
 'fecha_larga',
 'id_pdv',
 'id_cliente',
 'numero_factura',
 'unidades',
 'porcentaje_descuento',
 'precio_full',
 'porcentaje_iva',
 'precio_antes_iva',
 'precio_con_iva',
 'formas_de_pago',
 'id_referencia',
 'promocion',
 'habeas_data_venta',
 'valor_descuento',
 'costo_total',
 'costo_unitario',
 'id_vendedor',
 'estado_id_venta',
 'estado_celular_venta',
 'estado_email_venta',
 'fecha',
 'consecutivo_trx',
 'captura_de_datos_cel',
 'captura_de_datos_celcorreo',
 'captura_de_datos_completo',
 'rango_ticket',
 'ticket']

In [ ]:
df_mineria_venta.id_cliente.nunique()

250209

In [ ]:
df_mineria_venta.id_cliente.nunique()

In [ ]:
df_mineria_venta.estado_celular_venta.value_counts()

estado_celular_venta
SI    892712
NO    155615
Name: count, dtype: int64

In [ ]:
df_mineria_venta.estado_email_venta.value_counts()

estado_email_venta
SI    864652
NO    183675
Name: count, dtype: int64

In [ ]:
df_mineria_venta.groupby(['estado_email_venta', 'estado_celular_venta','habeas_data_venta'])['id_cliente'].nunique().reset_index().rename(columns={'id_cliente':'total clientes'})

   estado_email_venta estado_celular_venta habeas_data_venta  total clientes
0                  NO                   NO                NO            6864
1                  NO                   NO                SI            1232
2                  NO                   NO    SIN ACTUALIZAR            2650
3                  NO                   SI                NO           19605
4                  NO                   SI                SI           20146
5                  NO                   SI    SIN ACTUALIZAR           11401
6                  SI                   NO                NO            1560
7                  SI                   NO                SI           23403
8                  SI                   NO    SIN ACTUALIZAR            3872
9                  SI                   SI                NO           20259
10                 SI                   SI                SI          130108
11                 SI                   SI    SIN ACTUALIZAR           49525

In [ ]:
df_mineria_venta.promocion.value_counts()

promocion
SIN PROMOCIÓN                                                                                                                                    503000
LA SEGUNDA CON EL 50%  ICONIKAS ESTELAR MIC;                                                                                                      56137
DESCUENTO DEL 50% OUTLETS-ESTELARES  MIC;                                                                                                         47185
ESCALA DE DESCUENTO OUTLET MIC;                                                                                                                   38630
DESCUENTO DEL 30% OUTLETS-ESTELARES MIC;                                                                                                          23615
                                                                                                                                                  ...
NUEVO15, NUEVO15, NUEVO15, NUEVO15, NUEVO15, NUEVO15, NUEVO15, NUEVO15, NUEVO15, NUEVO15, NUEVO15, NUEVO15                                            1
DESCUENTO DEL 25% CALZADO MIC (TERMINO)                                                                                                               1
bono4854a, bono4854a, bono4854a, bono4854a, bono4854a, bono4854a, bono4854a, bono4854a, bono4854a, bono4854a, bono4854a, bono4854a, bono4854a         1
SEGMENTADO TEST 20% MIC Y MOVIES;                                                                                                                     1
DIA SIN IVA INTERIOR MIC; ESCALA DE DESCUENTO OUTLET MIC; SEGUNDA CON EL 50% INTERIOR MIC;                                                            1
Name: count, Length: 940, dtype: int64

In [ ]:
df_mineria_venta.promocion.nunique()

940

In [ ]:
df_mineria_resultado_campanas.nombre_campana.value_counts()

nombre_campana
REFUERZO BONO RECOMPRA SEPTIEMBRE     101730
LANZAMIENTO WEB LITTLE MIC             76291
BONO RECOMPRA SEPTIEMBRE               70682
WARNER BY LITTLE                       63938
CYBER DAYS                             59607
                                       ...
SPIDER MAN AND HIS AMAZING FRIENDS         1
LITTLE NUEVOS WEB                          1
LITTLE TODA LA TIENDA 30% OFF              1
LITTLE: NUEVOS                             1
LITTLE WEB SALE                            1
Name: count, Length: 353, dtype: int64

In [1]:
import pandas as pd

import pandas_gbq

# Load the credentials for authenticating with BigQuery


# Define the DataFrame you want to upload
df = pd.DataFrame({
    'col1': [1, 2, 3],
    'col2': ['A', 'B', 'C']
})

# Define the BigQuery table name and project ID
table_id = 'customer-experience-384423.Data_cruda.prueba'

# Upload the DataFrame to BigQuery
pandas_gbq.to_gbq(df, table_id, project_id='customer-experience-384423', if_exists='replace')

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=725825577420-unm2gnkiprugilg743tkbig250f4sfsj.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fbigquery&state=NvOjyNBo0w8KpRyxtkf9PTKrkcCWip&access_type=offline