In [11]:
import psycopg2
import pandas as pd

db_host = "35.239.114.35"
db_name = "test-data-mining"
db_user = "test-data-mining"
db_password = "test-data-mining-lax-2022"

conn = psycopg2.connect(
    host=db_host,
    dbname=db_name,
    user=db_user,
    password=db_password
)

cur  = conn.cursor()

cur.execute("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'")

# Obtener los resultados y mostrar las tablas disponibles
tables = cur.fetchall()
print("Tablas disponibles:")
for table in tables:
    print(table[0])

tabla = "mineria_almacen"
cur.execute(f"SELECT * FROM {tabla}")
resultados_mineria_almacen = cur.fetchall()
columnas = [desc[0] for desc in cur.description]
df_mineria_almacen = pd.DataFrame(resultados_mineria_almacen, columns=columnas)

tabla = "mineria_producto"
cur.execute(f"SELECT * FROM {tabla}")
resultados_mineria_producto = cur.fetchall()
columnas = [desc[0] for desc in cur.description]
df_mineria_producto = pd.DataFrame(resultados_mineria_producto, columns=columnas)

tabla = "mineria_venta"
cur.execute(f"SELECT * FROM {tabla}")
resultados_mineria_venta = cur.fetchall()
columnas = [desc[0] for desc in cur.description]
df_mineria_venta = pd.DataFrame(resultados_mineria_venta, columns=columnas)

tabla = "mineria_resultado_campanas"
cur.execute(f"SELECT * FROM {tabla}")
resultados_mineria_resultado_campanas = cur.fetchall()
columnas = [desc[0] for desc in cur.description]
df_mineria_resultado_campanas = pd.DataFrame(resultados_mineria_resultado_campanas, columns=columnas)

cur.close()
conn.close()

Tablas disponibles:
mineria_almacen
mineria_producto
mineria_resultado_campanas
mineria_cliente_original
vm_datamart_datalovers
prueba_cs
prueba_cs1
prueba_cs2
mineria_venta

In [14]:
df_mineria_almacen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                439 non-null    int64
 1   id_pvd            439 non-null    int64
 2   formato           439 non-null    object
 3   ciudad_pdv        439 non-null    object
 4   estado_pdv        439 non-null    object
 5   zona              439 non-null    object
 6   clima             432 non-null    object
 7   area_m2           432 non-null    object
 8   eq_cod            432 non-null    object
 9   negocio           439 non-null    object
 10  cargue            432 non-null    object
 11  cargue_unidades   432 non-null    object
 12  formato2          436 non-null    object
 13  clase_tienda      256 non-null    object
 14  canal             439 non-null    object
 15  pdv               439 non-null    object
 16  departamento_pdv  439 non-null    object
 17  correo_pdv        439 non-null    object
dtypes: int64(2), object(16)
memory usage: 61.9+ KB

In [15]:
df_mineria_producto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122617 entries, 0 to 122616
Data columns (total 30 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               122617 non-null  int64
 1   genero           121218 non-null  object
 2   personaje        121218 non-null  object
 3   marca            121218 non-null  object
 4   marca_unificada  122617 non-null  object
 5   silueta          121173 non-null  object
 6   sublinea_exito   121218 non-null  object
 7   tipo_de_prenda   121218 non-null  object
 8   prenda           121218 non-null  object
 9   mes_coleccion    121218 non-null  object
 10  ano_coleccion    121218 non-null  object
 11  ropero           121218 non-null  object
 12  tipo_inv         121218 non-null  object
 13  estrategias      121218 non-null  object
 14  comerciales      0 non-null       object
 15  categoria        121218 non-null  object
 16  coleccion        0 non-null       object
 17  espacios         121218 non-null  object
 18  contador         121218 non-null  object
 19  linea            122617 non-null  object
 20  licencia         121218 non-null  object
 21  id_referencia    122617 non-null  object
 22  talla_orden      56937 non-null   object
 23  color            122617 non-null  object
 24  mundo            122617 non-null  object
 25  talla            95000 non-null   object
 26  cod_color        95000 non-null   object
 27  descripcion      121218 non-null  object
 28  grupo            121218 non-null  object
 29  referencia       122612 non-null  object
dtypes: int64(1), object(29)
memory usage: 28.1+ MB

In [16]:
df_mineria_venta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048327 entries, 0 to 1048326
Data columns (total 29 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   id_factura                  1048327 non-null  object
 1   fecha_larga                 1048020 non-null  object
 2   id_pdv                      1048327 non-null  int64
 3   id_cliente                  1048327 non-null  object
 4   numero_factura              1048327 non-null  object
 5   unidades                    1048320 non-null  float64
 6   porcentaje_descuento        1024637 non-null  object
 7   precio_full                 1048160 non-null  float64
 8   porcentaje_iva              1048327 non-null  object
 9   precio_antes_iva            1048327 non-null  int64
 10  precio_con_iva              1048151 non-null  float64
 11  formas_de_pago              880401 non-null   object
 12  id_referencia               1048327 non-null  object
 13  promocion                   1048327 non-null  object
 14  habeas_data_venta           1048327 non-null  object
 15  valor_descuento             1024637 non-null  object
 16  costo_total                 1048327 non-null  object
 17  costo_unitario              1048327 non-null  object
 18  id_vendedor                 1048327 non-null  object
 19  estado_id_venta             1048327 non-null  object
 20  estado_celular_venta        1048327 non-null  object
 21  estado_email_venta          1048327 non-null  object
 22  fecha                       1048327 non-null  object
 23  consecutivo_trx             1048327 non-null  object
 24  captura_de_datos_cel        1048327 non-null  object
 25  captura_de_datos_celcorreo  1048327 non-null  object
 26  captura_de_datos_completo   1048327 non-null  object
 27  rango_ticket                1048327 non-null  object
 28  ticket                      1048327 non-null  object
dtypes: float64(3), int64(2), object(24)
memory usage: 231.9+ MB

In [18]:
df_mineria_resultado_campanas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3899563 entries, 0 to 3899562
Data columns (total 27 columns):
 #   Column                  Dtype
---  ------                  -----
 0   id_cliente              object
 1   key_movimiento          object
 2   codigo_campana          object
 3   codigo_campana_master   object
 4   estado                  object
 5   nombre_campana          object
 6   fecha_inicio            object
 7   fecha_fin               object
 8   campo_fecha             object
 9   variable_1              object
 10  detalle_variable        object
 11  filtro_general_1        object
 12  variable_2              object
 13  detalle_variable_2      object
 14  filtro_general_2        object
 15  variable_3              object
 16  detalle_variable_3      object
 17  filtro_general_3        object
 18  copi                    object
 19  cliente_contactado      object
 20  tipo_contacto           object
 21  rango_compra_historica  object
 22  rango_recencia          object
 23  rfm                     object
 24  rfm_segmento            object
 25  campana_efectiva_tipo   object
 26  mantener_campana        object
dtypes: object(27)
memory usage: 803.3+ MB

In [19]:
import requests

url = "https://v1-api.lax.marketing/api/blacklist/downloadFile"
token = '''eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZFVzZXIiOjg5LCJpZENvbXBhbnkiOjQzLCJyb2xVc2VyIjoyLCJpYXQiOjE2ODIwODM2NDN9.HvKEkVpeSmC3xnfq9HFzpT2usSewnTfBDkOVNMQ2k9Q'''
headers = {
    "Authorization": f"{token}"
}

response = requests.get(url, headers=headers)

if response.status_code == 200:
    contenido = response.content
    print(contenido)
else:
    print("Error en la solicitud:", response.status_code)

Error en la solicitud: 401